<%= form_for @message do |f| %>
  <%= f.error_messages %>
  <p>
    <%#= f.hidden_field :recipient_id, :value => :recipient_id %>
    <%#= f.hidden_field :user_id, :value => current_user.id %>
    <%#= hidden_field_tag(:sender, current_user.username) %>
    <%= f.label :recipient %>
    <%= f.text_field :recipient %><br />
    <%= f.label :topic %>
    <%= f.text_field :topic %><br />
    <%= f.label :body %>
    <%= f.text_area :body, :cols => 40, :rows => 6 %><br />
  </p>
  <p><%= f.submit %></p>
<% end %>
