=render '/home/top'

.span-24
  .span-3
    %img.span-3{:src => "#{@user.photo_url.nil? ? "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}" : @user.photo_url }"}
    =render '/home/links'
  .span-20
    %h3 Create a new event
    Create a new event here. Add people you would like to invite.

    = form_for @event do |f| 
      = f.hidden_field :user_id, :value => current_user.id
      = f.label :name
      = f.text_field :name, :size => 45
      %br
      = f.label :description 
      = f.text_area :description, :size => "66x6" 
      %br
      = f.label :venue
      = f.text_field :venue, :size => 45
      %br
      = f.label :event_date
      #date
        = f.text_field :event_date
      %br
      = f.label :event_time
      = f.text_field :event_time 
      %br
      People you want to invite
      =# f.label :user_tokens
      =# f.text_field :user_tokens, :size => 45
      = f.label :invites
      = f.text_field :invites, :size => 45
      %br
      = f.submit "Create Event"