<% title "All Pages" %>
<ul>
 <% @pages.each do |page| -%>
   <li>
     <%= link_to page.permalink, page_path(page) %>
     <% if can? :update, @page %>
	 [ <%= link_to 'edit', edit_page_url(page) %>
     <% end %>	
     
     <% if can? :destroy, @page %>
	 | <%= link_to 'delete', page_url(page), :method => :delete,
	 :confirm => 'Are you sure you wish to delete this page?' %> ]
     <% end %>	
	 : <%= page.title %>
   </li>
 <% end -%>  
</ul>
<% if can? :create, @page %>
<p><%= link_to 'Create new page', new_page_url %></p>
<% end %>