<div class="outer"> 
    <%= image_tag 'distributed.png', :style => "no-repeat -516px -502px; width: 84px; padding-top: 10px;" %>
</div>
<div class="modal_container">
  <div class="inner">
      
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :validate => true) do |f| %>
      <div><%= f.label :username %>
      <%= f.text_field :username, :size => 40 %></div><br />

      <div><%= f.label :password %>
      <%= f.password_field :password, :size => 40 %></div><br />

      <% if devise_mapping.rememberable? -%>
      	<div><%= f.check_box :remember_me %> <h5>REMEMBER ME ON THIS COMPUTER</h5></div><br /> 
      <% end -%>

      <div><%= f.submit "Sign in" %></div><br /> 
    <% end %>
    <div class="extras">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>